{% extends "::panel.html.twig" %}

{% block mainbox %}
    <div class="row well">
        <div class="col-md-3"><b>Jeśli już u nas byłeś:</b></div>
        <div class="col-md-8 center-block">
            <a href="{{ path('customerPanel') }}" class="btn btn-info btn-lg">Jestem już klientem</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"><b>Jeśli jeszcze nie było Cie u nas, uzupełnij dane:</b></div>
        <div class="col-md-8">
            {{ form_start(form) }}
            <div class="form-group">
                <label>Imię</label>
                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                <label>Nazwisko</label>
                {{ form_widget(form.surname, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                <label>Ulica</label>
                {{ form_widget(form.street, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                <label>Nr lokalu</label>
                {{ form_widget(form.localno, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                <label>Kod pocztowy</label>
                {{ form_widget(form.postcode, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                <label>Miasto</label>
                {{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                <label>Numer telefonu</label>
                {{ form_widget(form.phoneno, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                <label>NIP</label>
                {{ form_widget(form.nip, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input type="submit" value="Dodaj klienta" class="btn btn-info btn-lg"/>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-4 pull-right">
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger btn-lg pull-right">Anuluj</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
