{% extends '::panel.html.twig' %}

{% block mainbox %}
    <h1>Wszystkie zlecenia</h1>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th class="col-md-1">Id</th>
            <th class="col-md-3">Pojazd</th>
            <th class="col-md-2">Czas rozpoczęcia</th>
            <th class="col-md-2">Czas zakończenia</th>
            <th class="col-md-2">Status</th>
            <th class="col-md-2">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for workOrder in workOrders %}
            <tr>
                <td><a href="{{ path('workorder_show', { 'id': workOrder.id }) }}">{{ workOrder.id }}</a></td>
                <td> {{ workOrder.vehicleId.plateno }} {{ workOrder.vehicleId.make }} {{ workOrder.vehicleId.model }}</td>
                <td>{% if workOrder.startTime %}{{ workOrder.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if workOrder.endTime %}{{ workOrder.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ workOrder.status }}</td>
                <td>
                    <a href="{{ path('workorder_show', { 'id': workOrder.id }) }}" class="glyphicon glyphicon-info-sign"> POKAŻ </a>
                    <a href="{{ path('workorder_edit', { 'id': workOrder.id }) }}" class="glyphicon glyphicon glyphicon-edit"> EDYTUJ</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
