{% extends '::panel.html.twig' %}

{% block mainbox %}
    <h2>{{ person.name }} {{ person.surname }} </h2>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th class="col-md-2">Id</th>
            <td>{{ person.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ person.name }}</td>
        </tr>
        <tr>
            <th>Surname</th>
            <td>{{ person.surname }}</td>
        </tr>
        <tr>
            <th>Street</th>
            <td>{{ person.street }}</td>
        </tr>
        <tr>
            <th>Localno</th>
            <td>{{ person.localno }}</td>
        </tr>
        <tr>
            <th>Postcode</th>
            <td>{{ person.postcode }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ person.city }}</td>
        </tr>
        <tr>
            <th>Phoneno</th>
            <td>{{ person.phoneno }}</td>
        </tr>
        <tr>
            <th>Nip</th>
            <td>{{ person.nip }}</td>
        </tr>
        <tr>
            <th>Customer</th>
            <td>
                {% if person.customer == false %}
                    Pracownik
                {% else %}
                    Klient
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adminPanel_customers_all') }}">Powrót</a>
        </li>
        <li>
            <a href="{{ path('person_edit', { 'id': person.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('adminPanel_vehicles_findByOwnerId', { 'id': person.id}) }}">Pokaż pojazdy</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
