{% extends '::panel.html.twig' %}

{% block mainbox %}

            <h1>Pojazd</h1>

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th class="col-md-2">Numer id</th>
                    <td>{{ vehicle.id }}</td>
                </tr>
                <tr>
                    <th>Typ</th>
                    <td>{{ vehicle.type }}</td>
                </tr>
                <tr>
                    <th>Marka</th>
                    <td>{{ vehicle.make }}</td>
                </tr>
                <tr>
                    <th>Model</th>
                    <td>{{ vehicle.model }}</td>
                </tr>
                <tr>
                    <th>Rok produkcji</th>
                    <td>{{ vehicle.year }}</td>
                </tr>
                <tr>
                    <th>Pojemność silnika</th>
                    <td>{{ vehicle.engineCapacity }}</td>
                </tr>
                <tr>
                    <th>Rodzaj paliwa</th>
                    <td>{{ vehicle.fuel }}</td>
                </tr>
                <tr>
                    <th>Kod silnika</th>
                    <td>{{ vehicle.engineCode }}</td>
                </tr>
                <tr>
                    <th>Nadwozie</th>
                    <td>{{ vehicle.body }}</td>
                </tr>
                <tr>
                    <th>Ubezpieczenie do</th>
                    <td>{% if vehicle.insuranceDate %}{{ vehicle.insuranceDate|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Przegląd do</th>
                    <td>{% if vehicle.survayDate %}{{ vehicle.survayDate|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Numer VIN</th>
                    <td>{{ vehicle.vIN }}</td>
                </tr>
                <tr>
                    <th>Numer rejestracyjny</th>
                    <td>{{ vehicle.plateNo }}</td>
                </tr>
                <tr>
                    <th>Właściciel</th>
                    <td><a href="{{ path('person_show', {'id': vehicle.owner.id}) }}">{{ vehicle.owner.name }} {{ vehicle.owner.surname }}</a></td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-6">
                    <a href="{{ path('vehicle_edit', { 'id': vehicle.id }) }}" class="btn btn-warning btn-lg">Edytuj</a>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Usuń" class="btn btn-danger btn-lg">
                    {{ form_end(delete_form) }}
                </div>
                <div class="col-md-6 pull-right">
                    <div class="row"><a href="{{ path('vehicle_new_order', { 'id': vehicle.id }) }}" class="btn btn-success btn-lg pull-right">Dodaj zlecenie</a></div>
                    <div class="row"><a href="{{ path('adminPanel_ordersFindByVehicle', { 'id': vehicle.id }) }}" class="btn btn-info btn-lg pull-right">Pokaż wszystkie zlecenia</a></div>
                </div>
                </li>
            </ul>

            </div>
{% endblock %}