{% extends "::panel.html.twig" %}

{% block mainbox %}
<div class="row">
    <h1>Dodaj pojazd</h1>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        {{ form_start(edit_form) }}
        <div class="form-group">
            <label>Typ pojazdu</label>
            {{ form_widget(edit_form.type, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            <label>Marka</label>
            {{ form_widget(edit_form.make, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            <label>Model</label>
            {{ form_widget(edit_form.model, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            <label>Rok produkcji</label>
            {{ form_widget(edit_form.year, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            <label>Pojemność silnika (w ccm)</label>
            {{ form_widget(edit_form.engineCapacity, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            <label>Paliwo</label>
            {{ form_widget(edit_form.fuel, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            <label>Kod silnika</label>
            {{ form_widget(edit_form.engineCode, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            <label>Nadwozie</label>
            {{ form_widget(edit_form.body, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            <label>Ubezpieczenie do</label>
            {{ form_widget(edit_form.insuranceDate) }}
        </div>
        <div class="form-group">
            <label>Przegląd do</label>
            {{ form_widget(edit_form.survayDate) }}
        </div>
        <div class="form-group">
            <label>Numer VIN</label>
            {{ form_widget(edit_form.vin, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            <label>Tablica rejestracyjna</label>
            {{ form_widget(edit_form.plateNo, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            <label>Właściciel</label>
            {{ form_widget(edit_form.owner, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="submit" value="Zapisz zmiany" class="btn btn-info btn-lg"/>
                {{ form_end(edit_form) }}
            </div>
            <div class="col-md-4 pull-right">
                <a href="{{ path('vehicle_index') }}" class="btn btn-danger btn-lg pull-right">Anuluj</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        {{ form_start(delete_form) }}
            <input type="submit" value="Usuń pojazd" class="btn btn-danger btn-lg pull-right">
        {{ form_end(delete_form) }}
    </div>
</div>
{% endblock %}