{% extends "::panel.html.twig" %}

{% block mainbox %}
        <h1>Lista {{ who }}</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Kontakt</th>
                <th>Nip</th>
                <th>Konto</th>
                {%  if showIfCustomer == true %}
                    <th>Klient/pracownik</th>
                {% endif %}
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for person in customers %}
                <tr>
                    <td><a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.id }}</a></td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.surname }}</td>
                    <td>

                        <span class="glyphicon glyphicon-earphone"> {{ person.phoneno }}</span><br>

                            {% if not person.user == null %}
                                <span class="glyphicon glyphicon-envelope"> {{ person.user.email }}</span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove"> Brak adresu email</span>
                            {% endif %}
                    </td>
                    <td>{{ person.nip }}</td>
                    <td>
                        {% if not person.user == null %}
                            {{ person.user.username }}
                        {% else %}
                            Brak konta online
                        {% endif %}
                    </td>
                    {%  if showIfCustomer == true %}
                        {% if person.customer == true %}
                            <td>Klient</td>
                        {% else %}
                            <td>Pracownik</td>
                        {% endif %}
                    {% endif %}
                    <td>
                        <a href="{{ path('person_show', { 'id': person.id }) }}" class="glyphicon glyphicon-info-sign"> POKAŻ </a>
                            <a href="{{ path('person_edit', { 'id': person.id }) }}" class="glyphicon glyphicon glyphicon-edit"> EDYTUJ</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
                <a href="{{ path('person_new') }}" class="btn btn-success btn-lg"><span class="glyphicon glyphicon glyphicon-plus"></span>Dodaj</a>
{% endblock %}