{% extends '::panel.html.twig' %}

{% block mainbox %}
    <h2>{{ person.name }} {{ person.surname }} </h2>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th class="col-md-2">Id</th>
            <td>{{ person.id }}</td>
        </tr>
        <tr>
            <th>Imie</th>
            <td>{{ person.name }}</td>
        </tr>
        <tr>
            <th>Nazwisko</th>
            <td>{{ person.surname }}</td>
        </tr>
        <tr>
            <th>Ulica</th>
            <td>{{ person.street }}</td>
        </tr>
        <tr>
            <th>Lokal</th>
            <td>{{ person.localno }}</td>
        </tr>
        <tr>
            <th>Kod pocztowy</th>
            <td>{{ person.postcode }}</td>
        </tr>
        <tr>
            <th>Miasto</th>
            <td>{{ person.city }}</td>
        </tr>
        <tr>
            <th>Numer telefonu</th>
            <td>{{ person.phoneno }}</td>
        </tr>
        <tr>
            <th>Numer NIP</th>
            <td>{{ person.nip }}</td>
        </tr>
        <tr>
            <th>Czy klient?</th>
            <td>
                {% if person.customer == false %}
                    Pracownik
                {% else %}
                    Klient
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row>">
        <a href="{{ path('person_edit', { 'id': person.id }) }}" class="btn btn-info btn-lg pull-right">Edytuj</a>
        <a href="{{ path('adminPanel_vehicles_findByOwnerId', { 'id': person.id}) }}" class="btn btn-success btn-lg pull-right">Pokaż pojazdy</a>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger btn-lg">
            {{ form_end(delete_form) }}
    </ul>
    </div>
{% endblock %}
