{% extends '::panel.html.twig' %}

{% block mainbox %}
    <div class="row">
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="btn btn-success btn-lg">
            {{ flash_message }}
        </div>
    {% endfor %}
    </div>
    <div class="row">
    <h1>Podgląd zlecenia nr: {{ workOrder.Id }}</h1>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Pojazd</th>
            <td> {{ workOrder.vehicleId.make }} {{ workOrder.vehicleId.model }}</td>
        </tr>
        <tr>
            <th>Właściciel</th>
            <td> <a href="{{ path('person_show', {'id': workOrder.vehicleId.owner.id }) }}">{{ workOrder.vehicleId.owner }}</a><span class="glyphicon glyphicon-earphone pull-right">  {{ workOrder.vehicleId.owner.phoneno }}</span></td>
        </tr>
        <tr>
            <th>Tablica rejestracyjna</th>
            <td> {{ workOrder.vehicleId.plateno }}</td>
        </tr>
        <tr>
            <th>Numer VIN</th>
            <td> {{ workOrder.vehicleId.vin }}</td>
        </tr>
        <tr>
            <th>Rok produkcji</th>
            <td> {{ workOrder.vehicleId.year }}</td>
        </tr>
        <tr>
            <th>Paliwo</th>
            <td> {{ workOrder.vehicleId.fuel }}</td>
        </tr>
        <tr>
            <th>Kod silnika</th>
            <td> {{ workOrder.vehicleId.enginecode }}</td>
        </tr>
        <tr>
            <th>Pojemność</th>
            <td> {{ workOrder.vehicleId.engineCapacity }}</td>
        </tr>
        <tr>
            <th class="col-md-2">Lista prac</th>
            <td>{% if workOrder.toDo %}
                <table class="table table-responsive">

                    {% for order in workOrder.toDo %}
                        <tr></tr><th>{{ order.category }}</th><td>{{ order.description }}</td></tr>
                    {% endfor %}
                {% endif %}
            </table>
            </td>

        </tr>
        <tr>
            <th>Części</th>
            <td>{% if workOrder.parts %}{{ workOrder.parts|join(', ') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Cena</th>
            <td>{{ workOrder.value }}</td>
        </tr>
        <tr>
            <th>Czas rozpoczęcia</th>
            <td>{% if workOrder.startTime %}{{ workOrder.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Czas zakończenia</th>
            <td>{% if workOrder.endTime %}{{ workOrder.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Czas trwania (min)</th>
            <td>{{ workOrder.duration }}</td>
        </tr>
        <tr>
            <th>Status</th>
                <td>{{ workOrder.status }}
                    <a href="{{ path('panelAdmin_Orders_workOrderStatusChange', {'id': workOrder.id, 'newStatusId': '4' }) }}" class="btn btn-danger  pull-right">Anuluj</a>
                    <a href="{{ path('panelAdmin_Orders_workOrderStatusChange', {'id': workOrder.id, 'newStatusId': '3' }) }}" class="btn btn-success pull-right">Zakończ</a>
                    <a href="{{ path('panelAdmin_Orders_workOrderStatusChange', {'id': workOrder.id, 'newStatusId': '2' }) }}" class="btn btn-warning pull-right">Rozpocznij</a>
                </td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="row">
        <a href="{{ path('workorder_edit', { 'id': workOrder.id }) }}" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-edit"> Edytuj</span></a>
        <a href="{{ path('photo_new', { 'workOrderId': workOrder.id }) }}" class="btn btn-info btn-lg pull-right"><span class="glyphicon glyphicon-camera"> Dodaj dokumentacje zdjęciową</span></a>
    </div>
    <div class="row">
        {% if photos == true %}
            {% include 'WorkshopBundle:Admin:photosCarousel.html.twig' %}
        {% else %}
            <p class="text-center">Brak zdjęć</p>
        {% endif %}
    </div>
    </div>


{% endblock %}