<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CarShopAPP</title>

    <meta name="description" content="WebAPP for Car Workshops">
    <meta name="author" content="Dazoosky">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    bootstrap.min
    <script href=""></script>
    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('clock').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
            return i;
        }
    </script>
</head>
<body onload="startTime()">
<div class="container" style="height: 800px">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="{{ path("workshop_default_index") }}">CarShopAPP</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                <li>
                    <a href=" {{ path("fos_user_profile_edit") }}">Profile</a>
                </li>
                <li class="disabled">
                    <a href="#">Messages</a>
                </li>

                <li class="pull-right">
                    <a href="{{ path("fos_user_security_logout") }}">Logout</a>
                </li>
                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Menu<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                        <li>
                            <a href="#">Action2</a>
                        </li>
                        <li>
                            <a href="#">Action3</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">Separated link</a>
                        </li>

                    </ul>

                </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% block body %}

{% endblock %}
</div>
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/scripts.js') }}"></script>
</body>
</html>